body {
    color: darkolivegreen; background: rgb(0, 4, 114);
    } 
    .heading 
    { 
       width: 80%; font-size: 22px;
    } 
    #camera 
    { 
       border: 2px dashed teal;
        width: 350px;
         height: 300px;
        } 
        .family, #result_family_name  { color: orange; }
       